.background {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpapercave.com/wp/wp11786676.png");
}

.starting {
  display: grid;
  place-items: center;
  align-content: center;
  margin-top: 20vh;
}

.list {
  margin-top: 5vh;
}

.checkout {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 45vw;
  margin-top: 50vh;
  margin-bottom: 30vh;
}
